# .gitignore

# Ignore build artifacts
target/
bin/
*.class

# Ignore IDE-specific files
.idea/
.vscode/

# Ignore test output directory
test-output/

# Ignore specific index.html files
test-output/index.html
test-output/old/index.html
test-output/old/Default suite/index.html